<h1> COMEDY PODCASTS </h1>
  <section ng-controller="PodcastsController as podcastsController">
    <ul class="list">
      <li ng-repeat="podcasts in podcastsController.comedy | limitTo:5 " >
        <form ng-submit="podcastsController.addPodcast($index)">
          <p> Podcast: {{podcasts.trackName}} </p>
          <p> Genre: {{podcasts.primaryGenreName}} </p>
          <a ng-href="{{podcasts.collectionViewUrl}}" target="_blank"><img ng-src="{{podcasts.artworkUrl100}}"> </a>
          <p> <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text= Found the {{podcasts.trackName}} podcast on PODZILLA. Sooooo Dope!">  Tweet</a> </p>
          <button type="submit"  ng-model="podcastsController.newPodcast.podcast" value= "Add Podcast"> save </button>
       </form>
      </li>
    </ul>
  </section>
